@charset "utf-8";

body{
  font-family:"Han Sans JP";
}

.sp{
  display: none;
}

@media screen and (max-width:576px){
  .sp {
  display: block;
  }
  .pc{
    display: none;
  }
}

header{
  background: url(../img/header-square.png)no-repeat top right;
  background-size:cover;
  display: flex;
  height:auto;
}

header h1{
  width:100%;
  height:auto;
  flex-basis: 50%;
}

.header-contents{
  flex-basis: 50%;
}

header h2{
  font-size: 3vw;
  text-align:center;
  padding-top: 20px;
  color: #FFFFFF;
  font-weight: bold;
}

.header-copy{
  text-align:center;
  width:60%;
  margin: 0 auto;
}

.row-header{
  text-align:center;
  width:80%;
  margin: 0 auto;
}

.row-header__contents{
  flex-basis: 33%;
}

@media screen and (max-width:576px){
  header {
  background:url(../img/parent-background.png) no-repeat top center;
   flex-direction: column;
   height: auto;
  }

/* h1画像カバーできない */

  header h1{
    /* background: url(../img/header-img_sp.png)no-repeat center;
    background-size: cover; */
    order:3;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  header h2{
    font-size: 40px;
    order:1;
  }

  .header-copy{
    order:2;
    height:50vh;
  }

  .row-header{
    order:4;
    display: flex;
    justify-content: center;
  }
}

/* solution */

.solution{
  background: #6D6D6D;
  height: auto;
}

.solution h2{
  font-size: 83px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding-top: 53px;
}

.solution h3{
  font-size: 127px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 49px;
}

@media screen and (max-width:576px){
  .solution h2{
    font-size: 33px;
  }

  .solution h3{
    font-size: 44px;
    padding-bottom: 10px;
  }
}

/* parent */

/* 隙間ができている */

.parent{
  background: url(../img/parent-background.png) no-repeat center;
  background-size: cover;
}

.row-parent{
  display: flex;
}

.parent h2{
  font-size: 95px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 50px;
  padding-left: 135px;
  line-height: 137px;
}

@media screen and (max-width:576px){
  .parent h2{
    font-size: 45px;
    line-height: 65px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
  }
}

/* child */
/* checkboxにorderがかからない */
/* 途中のサイジングがうまくいかない */

.child h2{
  padding-top: 76px;;
}

.row-child{
  display: flex;
}

.row-col__contnts1{
  /* width:100%; */
  height: 10vh;
}

.row-col__contents3{
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  padding-top: 56px;
  padding-right: 134px;
  line-height: 137px;
  text-align: right;
}

@media screen and (max-width:576px){
  .child h2{
    order:4;
  }

  .row-col__contnts1{
    order:2;
  }

  .row-col__contents2{
    order:3;
  }

  .row-col__contents3{
    font-size: 45px;
    line-height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    order:1;
    padding-top: 0px;
    padding-right: 0px;
  }
}

/* reason */

.reason{
  background-color:#6D6D6D;
  display: flex;
  justify-content: center;
}

.reason h2{
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 30px;
  padding-left:40px
}

.reason h3{
  font-size: 83px;
  color: #FFFFFF;
  font-weight: bold;
  padding-top: 20px;
  margin-left: 20px;
}

@media screen and (max-width:576px){
  .reason{
    flex-direction: column;
  }

  .reason h3{
    font-size: 40px;
    text-align: center;
  }
}

/* method */

.method{
  background-color: #33C6F4;
}

.method h2 {
  display: flex;
  justify-content: center;
  padding-top: 41px;
}

.method h3{
  font-size: 85px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

.method h4{
  font-size: 157px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width:576px){
  .method h3 {
    font-size: 60px;
  }
  .method h4{
    font-size: 60px;
  }
}

/* midasi */

.midasi h2{
  color: #33C6F4;
  font-size: 62px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 40px;
}

@media screen and (max-width:576px){
  .midasi h2{
    font-size: 58px;
    text-align: center;
  }
}

/* point */
/* absoluteを2回できない？ */
/* レスポンシブできない */
/* 画像サイズが収まらない */

.point-1{
  background: url(../img/point_bg1.png) no-repeat center;
  background-size: cover;
  height:100vh;
  position: relative;
}

.point-box{
  width: 40%;
  border:solid 1px #33C6F4;
  background-color: #33C6F4;
  position: absolute;
  top: 355px;
  left: 950px;
}

.point-box__contents{
  display: flex;
}

.point-box h2{
  font-size: 193px;
  font-weight: bold;
  color:#3E04E4;
}

.point-box h3{
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 35px;
}

.point-box p{
  font-size: 33px;
  color:#FFFFFF;
  padding-left: 40px;
  padding-bottom: 79px;
}

.point-2{
  background: url(../img/point-bg2.png) no-repeat center;
  background-size: cover;
  height:100vh;
  position: relative;
}

.point-box2{
  width: 40%;
  border:solid 1px #33C6F4;
  background-color: #33C6F4;
  position: absolute;
  top: 360px;
  left: 150px;
}

.point-box2__contents{
  display: flex;
}

.point-box2 h2{
  font-size: 193px;
  font-weight: bold;
  color:#3E04E4;
}

.point-box2 h3{
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 35px;
}

.point-box2 p{
  font-size: 33px;
  color:#FFFFFF;
  padding-left: 40px;
  padding-bottom: 79px;
}

.point-3{
  background: url(../img/point-bg3.png) no-repeat center;
  background-size: cover;
  height:100vh;
  position: relative;
}

.point3-box{
  width: 40%;
  border:solid 1px #33C6F4;
  background-color: #33C6F4;
  position: absolute;
  top: 430px;
  left: 950px;
}

.point3-box__contents{
  display: flex;
}

.point3-box h2{
  font-size: 193px;
  font-weight: bold;
  color:#3E04E4;
}

.point3-box h3{
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 35px;
}

.point3-box p{
  font-size: 33px;
  color:#FFFFFF;
  padding-left: 40px;
  padding-bottom: 79px;
}

.point-4{
  background: url(../img/point-bg4.png) no-repeat center;
  background-size: cover;
  height:100vh;
  position: relative;
}

.point4-box{
  width: 40%;
  border:solid 1px #33C6F4;
  background-color: #33C6F4;
  position: absolute;
  top: 360px;
  left: 150px;
}

.point4-box__contents{
  display: flex;
}

.point4-box h2{
  font-size: 193px;
  font-weight: bold;
  color:#3E04E4;
}

.point4-box h3{
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 35px;
}

.point4-box p{
  font-size: 33px;
  color:#FFFFFF;
  padding-left: 40px;
  padding-bottom: 79px;
}

@media screen and (max-width:576px){

  .point-1{
    background:url();
    height:90vh;
  }

  .point-box{
    top: 20px;
    left: -0px;
    width:100%;
    height:80vh;
  }

  .point-box h2{
    font-size: 100px;
  }

  .point-box h3{
    font-size: 20px;
    padding-top: 20px;
  }

  .point-2{
    background:url();
    height:90vh;
  }

  .point-box2{
    top: 0px;
    left: 0px;
    width:100%;
    height:80vh;
  }

  .point-box2 h2{
    font-size: 100px;
  }

  .point-box2 h3{
    font-size: 20px;
    padding-top: 20px;
  }

  .point-3{
    background:url();
    height:90vh;
  }

  .point3-box{
    top: 0px;
    left: 0px;
    width:100%;
    height:80vh;
  }

  .point3-box h2{
    font-size: 100px;
  }

  .point3-box h3{
    font-size: 20px;
    padding-top: 20px;
  }

  .point-4{
    background:url();
    height:90vh;
  }

  .point4-box{
    top: 0px;
    left: 0px;
    width:100%;
    height:80vh;
  }

  .point4-box h2{
    font-size: 100px;
  }

  .point4-box h3{
    font-size: 20px;
    padding-top: 20px;
  }

}

/* info */

.info h2{
  font-size:80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 65px;;
  text-align: center;
}

.row-info{
padding-left: 80px;
}

/* .col-info{
  flex-basis: 33%;
} */

.row-col__p1 {
  font-size:51px;
  font-weight: bold;
  text-align: center;
}

.row-col__p2{
  font-size: 34px;
  text-align: center;
  padding-top: 32px;
}

.row-col__p3{
  font-size:27px;
}

.info-20xx {
  font-size: 28px;
  text-align: right;
  padding-right: 125px;
}

@media screen and (max-width:576px){

  .row-info{
    flex-direction: column;
  }

  .info h2{
    font-size:18px;
    padding-top: 0px;
    text-align: center;
  }

  .row-col__p1 {
    font-size:40px;
    padding-left: 15px;
  }

  .col-info img{
    padding-left: 20px;
  }

  .row-col__p2{
    font-size: 25px;
    padding-left: 25px;
    padding-top: 32px;
  }

  .row-col__p3{
    padding-left: 20px;
  }
}

.info-20xx{
  text-align: center;
  padding-right: 0px;
}

/* qa */

.qa{
  background-color: #33C6F4;
  padding-bottom: 84px;
}

.qa h2{
  font-size: 64px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 75px;
}

.col-qa{
  width: 658px;
  border:solid 1px #FFFFFF;
  background-color: #FFFFFF;
}

.col-qa img{
  padding-top: 20px;
  padding-bottom: 10px;
}

.col-qa__contents{
  font-size: 26px;
}

@media screen and (max-width:576px){

  .qa{
    background-color:none;
    padding-bottom: 0px;
  }

  .qa h2{
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .col-qa{
    padding-left: 25px;
  }

  .col-qa__contents{
    font-size: 30px;
  }
}

/* footer */

footer h2{
  font-size: 61px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 21px;
}

footer h3{
  font-size: 97px;
  display: flex;
  justify-content: center;
}

footer p{
  font-size: 26px;
  text-align: center;
}

@media screen and (max-width:576px){
  footer h2{
    font-size: 30px;
    padding-left: 10px;
  }

  footer h3{
    font-size: 30px;
  }
}